body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Empêche le défilement horizontal si le contenu dépasse la largeur de la fenêtre */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #00A3FF 0%, #0066FF 100%);
    padding: 10px 20px;
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, padding 0.3s;
}
.scroll-active .header {
    padding: 5px 20px;
    background-color: #0057B8; /* Changement de couleur */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.logo img {
    max-height: 50px;
}

.nav-container {
    display: flex;
    justify-content: center;
    margin-left: auto; /* Centrer le conteneur */
    margin-right: auto; /* Centrer le conteneur */
}

.btn-nav {
    display: flex;
    gap: 100px;
}

.btn-nav a {
    text-decoration: none;
    color: white;
    font-family: 'Kumbh Sans', sans-serif; /* Police cohérente */
    font-size: 18px;
    transition: color 0.3s;
    position: relative;
    padding-bottom: 5px;
}

.btn-nav a:hover, .btn-nav a:focus {
    color: #e3e3e3; /* Couleur au survol */
}

.btn-nav a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    transition: all 0.3s ease;
}

.btn-nav a:hover::after, .btn-nav a:focus::after {
    width: 100%;
    left: 0;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .nav-container {
        order: -1; /* Place la navigation en haut dans l'ordre visuel */
        margin: 0; /* Réinitialise les marges pour les petits écrans */
    }
    .btn-nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

