/* Styles de base pour le corps et les polices */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Style des champs de commentaire et de réponse */
.image-fieldset, .image{
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.image input[type='text'], #reply-form input[type='text'] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.image input[type='submit'], #reply-form input[type='submit'] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.image input[type='submit']:hover, #reply-form input[type='submit']:hover {
    background-color: #0056b3;
}

/* Style des réponses */
fieldset[style*="margin-left"] {
    background-color: #e9ecef;
    border-radius: 8px;
}




.toggle-reply {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}



/* Styles pour les images */
.image-fieldset {
    background-color: #f9f9f9; /* Couleur de fond légère */
    border: 2px solid #ddd; /* Bordure subtile */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre portée */
    padding: 15px; /* Espacement interne */
    margin-bottom: 15px; /* Espacement externe */
}




.comment-fieldset i, .replies-container i {
    font-size: 0.75em; /* Réduit la taille de la police de moitié */
}

.delete-btn {
    background-color: white;
    color: red;
    border: 2px solid red;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.delete-btn:hover {
    background-color: darkred;
    color: white;
}

.delete-btn img {
    width: 16px;
    height: 16px;
    text-align: center;
}
#envoie {
    background-color: #28a745;
    color: white;
    border: 2px;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    border: 2px solid #28a745;
}
#envoie:hover {
    background-color: white;
    color: #28a745;

}
#photo {
    width: 15vw; /* Réinitialise la largeur */
    height: 20vw; /* Occupe la hauteur disponible */
    max-height: 100%; /* Pour s'assurer que l'image ne dépasse pas sa taille naturelle */
    max-width: 100%; /* Pour s'assurer que l'image ne dépasse pas sa taille naturelle */
    object-fit: cover;
    aspect-ratio: 3 / 4; /* Ratio 4:3 pour une image verticale */
  }
  
  /* Styles pour les écrans de taille inférieure à 600px (par exemple, pour les téléphones) */
  @media screen and (max-width: 600px) {
    .image-pc {
      display: none; /* Masque l'image sur les téléphones */
    }
  
    /* Ajoutez une classe spécifique pour les téléphones */
    #photo {
        display: block; /* Assurez-vous que l'image est visible sur les téléphones */
        width: 81vw; /* Vous pouvez ajuster cette valeur pour correspondre à la taille souhaitée sur mobile */
        height: 108vw; /* Vous pouvez ajuster cette valeur pour correspondre à la taille souhaitée sur mobile */
        margin: 0 auto; /* Centre l'image horizontalement */
    }
  }
  