.histoire {
    position: relative;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #1E1E1E; /* Couleur de fond en cas de non-chargement de l'image */
    color: #fff; /* Couleur du texte */
    display: flex;
    align-items: center; /* Centre verticalement le contenu */
    justify-content: center; /* Centre horizontalement le contenu */
    height: 60em; /* Hauteur totale de la vue, ajustez selon vos besoins */
    overflow: hidden; /* Empêche le pseudo-élément de déborder */
}

.histoire::after {
    content: '';
    background: url('../image/unicef.png') no-repeat center center; /* Ajustez le chemin si nécessaire */
    background-size: 75%; /* Ajustez la taille de l'image ici */
    position: absolute;
    top: -15em;
    left: -15em;
    bottom: -15em;
    right: -15em;
    z-index: 1; /* Place l'image de fond derrière le contenu */
}

#tapropos {
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin-top: 2em;
}

.textimg {
    display: flex; /* Utilise Flexbox pour la mise en page */
    flex-direction: row; /* Organise les éléments en ligne */
    justify-content: space-between; /* Espacement égal entre les éléments */
    align-items: center; /* Centre les éléments verticalement */
    width: 80%; /* La largeur que vous préférez */
    margin: auto; /* Centre le bloc .textimg horizontalement */
    z-index: 2; /* Assure que le texte est au-dessus du fond */
    height: 50%; /* Définissez une hauteur pour centrer verticalement dans .histoire */
    position: absolute; /* Positionnement absolu par rapport à .histoire */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrage parfait dans .histoire */
    margin-left: 2em ;
    margin-right: 2em;
}

.textimg p {
    font-size: 1.25vw; /* Ajustez la taille selon la largeur de l'écran */
    margin-bottom: 2rem; /* Espace entre le texte et l'image si nécessaire */
    max-width: 22em;
    font-size: 1.3em;
}

.textimg img {
    width: 35%; /* Ajustez selon la taille souhaitée pour l'image */
    border-radius: 20px; /* Arrondi des coins de l'image */
    width: 35em; /* Maximum 40% du conteneur .textimg */
}


.unicert h1 {
    margin-top: 3em;
    text-align: center;
    margin-bottom: 3em;
}

.youtubers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 2em;
    margin-right: 2em;
}

.ytbr {
    padding-bottom:1em;
    padding-left:2em;
    padding-right:2em;
    padding-top: 13.5em;
    border-radius: 2em;
    width: 14em;
    text-align: center;
    margin:1em;
    color: white;
    font-size: 1.2em;
    font-family: 'Kumbh Sans', sans-serif;
    background-size: 107%; 
    border: none;
}

.ytbr:hover {
    padding-bottom:1.1em;
    padding-left: 2.2em;
    padding-right: 2.2em;
    padding-top: 13.7em;
    background-size: 120%; 
    transition: padding 1s, background-size 1s;
}


.inox {
    background-image: url("../image/inox.png");
}

.michou {
    background-image: url("../image/michou.png");
}

.pidi {
    background-image: url("../image/pidi.png");
}

.valouzz {
    background-image: url("../image/valouzz.png");
}

.lebouseuh {
    background-image: url("../image/lebouseuh.png");
}

.apo {
    background-image: url("../image/apo.png");
}

.joyca {
    background-image: url("../image/joyca.png");
}

.mastu {
    background-image: url("../image/mastu.png");
}


.reserv {
    text-align: center;
    margin-top: 16em;
    margin-bottom: 20em;
}

.btn-reserv {
    background-color: #00A3FF;
    padding-bottom:0.2em;
    padding-left:4em;
    padding-right:4em;
    padding-top: 0.2em;
    border-radius: 2em;
    margin-top: 4em;
    font-size: 1.6em;
    color:azure;
    text-decoration:none;
}


.btn-reserv:hover {
    background-color: #00A3FF;
    padding-bottom:0.3em;
    padding-left:5em;
    padding-right:5em;
    padding-top: 0.3em;
    transition: padding 1s;
}


footer {
    background-color: #1E1E1E;
    color: white;
    text-align: left;
    padding-top: 6em;
    padding-bottom: 2em;
}

.premierepartie {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.premierepartie .illustration {
    margin-top: 1em;
    width: 33em;
    height:30em;
    margin-left: -10em;
}

.premierepartie a {
    color: white;
    text-decoration: none;
}

.premierepartie .img img {
    width: 3.4em;
    margin: 0.2em;
}

.liens {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

.reseaux{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer h2 {
    font-size: 2em;
    font-family: 'Kumbh Sans', sans-serif;
}

footer a {
    font-size : 1.2em;
}

.margeheuu{
    margin-left: 8em;
}

.margeheuu div {
    margin-left: -5em;
}


footer p {
    text-align: center;
}

.deuxiemepartie {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
}

.deuxiemepartie img {
    height: 4.2em;
    margin-left: 2em;
    margin-right: -8em;
}

.deuxiemepartie p {
    margin-top: 4em;
    margin-bottom: -2em;
}


/* Responsive */

@media screen and (max-width: 1023px) {

    .textimg {
        flex-direction: column;
    }

    .textimg p {
        font-size: large;
        text-align: center;
    }
    
    .carousel-title {
        font-size: 7vw;
    }

    .carousel-text {
        font-size: 2.5vw;
    }

    .histoire {
        height: 120vh;
    }

}

@media screen and (max-width: 768px) {

    .textimg {
        flex-direction: column;
    }

    .textimg p {
        font-size: small;
        text-align: center;
    }

    .histoire {
        height: 150vh;
    }

    .illus {
        width: 10em;
    }

    .liens {
        justify-content: center;
        text-align: center;
    }
    
    .margeheuu {
        margin-left: initial;
    }

}



/* Styles for the popup */
.popup1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
  }

  .popup2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
  }

  .popup3 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
  }

  .popup4 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2em;
    text-align: center;
  }
  
  .close {
    position: absolute;
    top: 0.2em;
    right: 0.5em;
    cursor: pointer;
    font-size: 24px;
  }

 .popup-content img {
    height: 40em;
 }